<div class="p-5 sticky top-0 bg-white flex justify-between">
  <%= link_to 'Gîtes La Colline',  root_path %>
  <div class="px-3 flex justify-around">
    <p class="px-3"><%= link_to 'Gîtes',  gites_path %></p>
    <p class="px-3"><%= link_to 'Activités',  activites_path %></p>
    <p class="px-3"><%= link_to 'Réservation',  reservation_path %></p>
    <p class="px-3"><%= link_to 'Contact',  contact_path %></p>
  </div>
</div>
